<link rel="stylesheet" type="text/css" href="/css/Header.css" />

<div class="header header__group1">
  /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/<img
    class="header__image"
    src="/assets/assorted_fruits_top_view.png"
    alt="alt text"
  />
  <h1 class="header__title">
    BluesX&#x27;s Mission Is To Provide Comprehensive Guidance And Support For Your Parenting Journey.
  </h1>
  <h5 class="header__highlight">
    Discover A Great Parenting Experience With BluesX. Our Comprehensive Guide Provides Up-To-Date Educational
    Resources, Informative Articles And Practical Advice To Guide Your Journey In Educating Children. Explore In-Depth
    Educational Content And Expert Support To Help You Build A Positive Family Environment.
  </h5>
  <div class="header__wrapper1">
    /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/<img
      class="header__image3"
      src="/assets/woman_peering_into_distance.png"
      alt="alt text"
    />
    <div class="header__text">Lisa</div>
    <div class="header__rect3"></div>
    <h3 class="header__subtitle">Home</h3>
    <h3 class="header__subtitle1">Resepies</h3>
    <h3 class="header__subtitle2">Day Care &amp; Medical Center</h3>
    <h3 class="header__subtitle3">Activities</h3>
    <h3 class="header__subtitle4">Product</h3>
    <h3 class="header__subtitle5">Comment</h3>
    <div class="header__info">user</div>
    <div class="header__line"></div>
    <div class="header__line1"></div>
  </div>
</div>
